# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and outputs
data/
*.csv
*.xlsx

# VSCode settings
.vscode/

# Environment files
.env
